{% extends "base.html" %}

{% block title %}
    Dashboard
{% endblock title %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/home.css') }}">
{% endblock links %}

{% block content %}
<h2>Weather Dashboard in Flask</h2>
<form class="weatherText" id="weatherForm" action="{{ url_for('weather_results') }}", method="post">
    Location Zip code: <input class="weatherText" id="weatherInput" type="text" name="zipCode"><br>
    <input class="weatherText" id="weatherSubmit" type="submit" value="Submit">
</form>
{% endblock content %}